{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-5 my-5  shadow border">
            {% csrf_token %}
            <h1>Add Task</h1><br>
                <div class="form-group">
                    <input type="text" class="form-control" name="tname" id="" placeholder="Task name">
                </div><br>
                <div class="form-group">
                    <input type="text" class="form-control" name="prio" id="" placeholder="Task priority">
                </div><br>
                <div class="form-group">
                    <input type="date" class="form-control" name="date" id="" placeholder="Task date">
                </div><br>
                <input type="submit" value="Add" class="btn btn-success">
            </form>
        </div>
        <div class="col-md-6">
            <h1 class="my-5">Task to be completed</h1>
            {% for i in key %}
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b>{{i.pr}}</b></p>
                    <p><b>{{i.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'taskdelete' i.id %}">Done</a>
                    <a class="btn btn-warning" href="{% url 'taskupview' i.id %}">update</a>
                    <a class="btn btn-primary" href="{% url 'taskdview' i.id %}">View</a>
                </div>
            </div>
             {% endfor %}
        </div>
    </div>
</div>

{% endblock %}