<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<style>
    form{
    width: 45%;
    height: 40%;
    margin-left: 24%;
    margin-top: 12%;
    padding: 1% 2%;
    text-align: center;
    background-color: antiquewhite;
    }
</style>
<body>
<form action="register" method="POST">
    <h1>Registeration form</h1><br>
    {% csrf_token %}
  <input type="text" name="uname" id="" placeholder="Username"><br><br>
  <input type="text" name="fname" id="" placeholder="First name"><br><br>
  <input type="text" name="lname" id="" placeholder="Last name"><br><br>
  <input type="email" name="email" id="" placeholder="Email"><br><br>
  <input type="password" name="pass" id="" placeholder="Password"><br><br>
  <input type="password" name="cpass" id="" placeholder="confirm password"><br><br>
  <input type="submit" value="Register">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>